name: Generate GitHub Stats

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Generate Stats
        run: |
          curl -L -o stats.svg "https://github-readme-stats.vercel.app/api?username=DHRUVxMISHRA&show_icons=true&theme=tokyonight"

      - name: Commit
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add stats.svg
          git commit -m "Update stats" || echo "No changes"
          git push
